@charset "utf-8";

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(9, 36, 95);
}

h1, h2, h3 {
    color: rgb(104, 191, 241);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

video {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

Audio {
    display: block;
    margin: 0 auto;
    padding: 5px;
}

@media screen and (max-width: 700px) {

h1 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.8em;
}

video {
    display: block;
    margin: 0 auto;
    padding: 2px;
}

Audio {
    display: block;
    margin: 0 auto;
    padding: 2px;
}


}

